:root {
  --color-primary-midnight-green: #014E56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #fff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-deep-jungle-green: #004047;
  --color-secondary-sacramento: #012f34;
  --color-secondary-dark-green: #002529;
  --main-font: "Livvic", "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: inherit;
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  background-color: #fff;
}

button:hover, a:hover {
  cursor: pointer;
}

.container {
  width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: #014E56;
  background-image: url("../img/header-back-img.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.header-2 {
  background-image: none;
  background-image: url('../img/header-2-back-img.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.nav {
  background-color: #014E56;
  padding: 73px 0;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:first-child {
  margin-right: 81px;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.nav__link:hover {
  color: #F67E7E;
}

.nav__btn {
  font-weight: 600;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 33px;
  padding-left: 32px;
  border-radius: 24px;
  border: 2px solid white;
  background-color: inherit;
  color: white;
}

.nav__btn:hover {
  background-color: #fff;
  color: #000;
}

.header-box__container {
  padding-top: 66px;
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
  background-image: url("../img/header-back-img-bottom.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header-box__container-2 {
  padding-top: 66px;
  padding-bottom: 120px;
  background-image: none;
  align-items: center;
}

.header__span {
  width: 623px;
  padding: 0;
  margin: 0;
}

.header__subtitle {
  font-size: 100px;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.header__subtitle-2 {
  font-size: 64px;
}

.header__subtitle__span {
  display: flex;
}

.header__subtitle__red {
  margin-left: 30px;
  color: #F67E7E;
}

.header__subtext {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  width: 445px;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  
  
}

.header__subtext:before {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  content: "";
}

.header__subtext-2:before {
  background-color: var(--color-primary-light-coral);
}

.meet-section {
  background-color: #004047;
}

.meet-section__box .container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.meet-section__title {
  padding-bottom: 64px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.meet__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.meet__item {
  position: relative;
  z-index: 1;
  padding-top: 144px;
  padding-bottom: 54px;
  width: 350px;
  background-color: #012F34;
  margin-bottom: 76px;
}

.meet__item:nth-child(2)::before {
  background-image: url('../img/ceo-2.png');
}

.meet__item:nth-child(3)::before {
  background-image: url('../img/ceo-3.png');
}

.meet__item:nth-child(4)::before {
  background-image: url('../img/ceo-4.png');
}

.meet__item:nth-child(5)::before {
  background-image: url('../img/ceo-5.png');
}

.meet__item:last-child {
  padding-top: 35px;
  background-color: #002529;
}

.meet__item:last-child::before {
  background-image: none;
}

.meet__item::before {
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  background-image: url('../img/ceo-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.meet__item--subtitle-finest {
  padding-bottom: 8px;
}

.meet__item--subtext-finest {
  width: 254px;
  margin-lefT: auto;
  margin-right: auto;
}

 /* {
  position: absolute;
  left: 50%;
  bottom: -26px;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #012F34;
  font-size: 25px;
  background-color: var(--color-primary-light-coral);
  border-radius: 50%;
  content: "+";
} */

.meet-add__btn {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #012F34;
  font-size: 25px;
  background-color: var(--color-primary-light-coral);
  border-radius: 50%;
  border: none;
}

.meet-add__btn:hover {
  background-color: var(--color-secondary-rapture-blue);
}


.meet__item--subtitle {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--color-secondary-rapture-blue);
}

.meet__item--subtext {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.meet-media__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
}

.meet-media__link {
  color: #fff;
}

.meet-media__link:hover {
  color: var(--color-primary-light-coral);
}

.meet-add__btn-finest {
  background-color: var(--color-secondary-rapture-blue);
}

.meet-add__btn-finest:hover {
  background-color: var(--color-primary-light-coral);
}

.meet-add__content-finest {
  transform: rotate(45deg);
}





.form-section {
  background-image: url('../img/form-left-back-img.png');
  background-repeat: no-repeat;
  background-position: 0 47px;
  background-color: var(--color-primary-midnight-green);
}

.form-section__box {
  background-image: url('../img/form-right-back-img.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.form-section__box .container {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 120px;
}


.intro__title {
  font-size: 64px;
  color: white;
  padding-bottom: 16px;
  line-height: 100px;
}

.intro-list__title {
  font-size: 32px;
  color: #F67E7E;
  padding-bottom: 2px;
}

.intro__item {
  width: 542px;
  margin: 52px 0px;
}

.intro__item--title {
  display: flex;
  align-items: center;
  padding-left: 95px;
  position: relative;
  color: white;
  font-size: 18px;
  line-height: 28px;
  z-index: 1;
}

.intro__item--title::before {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 72px;
  height: 72px;
  background-image: url('../img/f-item-1.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.intro__item--title-2::before {
  background-image: url('../img/f-item-2.svg');
}

.intro__item--title-3::before {
  background-image: url('../img/f-item-3.svg');
  margin-bottom: 0;
}

.main-form {
  width: 540px;
}

.main-form .main-label {
  display: flex;
  flex-direction: column;
}

.std-input {
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  border: none;
  background: inherit;
  border-bottom: 1px solid lightgray;
}

.finest-std-input {
  padding-bottom: 58px;
  margin-bottom: 50px;
}

.std-input::placeholder {
  font-size: 15px;
  line-height: 25px;
  color: lightgray;
}

.form-submit-btn {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 32px;
  padding-left: 32px;
  border: 2px solid white;
  border-radius: 24px;
  font-weight: bolder;
  color: #004047;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}








.features {
  background-color: #012F34;
  background-image: url('../img/feature-back-img-1.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.features__box {
  padding-top: 140px;
  padding-bottom: 140px;
}

.features__box {
  justify-content: space-between;
  display: flex;
}

/*  */
/*  */

.content__box__title {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  width: 445px;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: var(--color-primary-white);
}

.content__box__title::before {
  position: absolute;
  z-index: 1;
  top: -25%;
  left: 0;
  height: 4px;
  width: 50px;
  background-color: var(--color-primary-light-coral);
  display: block;
  content: "";
}

.features__list {
  padding: 0;
  margin: 0;
}

.features__item {
  display: flex;
  margin-bottom: 32px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item::before {
  width: 72px;
  height: 72px;
  margin-right: 23px;
  display: block;
  background-image: url('../img/f-item-1.svg');
  content: "";
}

.features__item__title {
  padding: 0;
  margin: 0;
  color: var(--color-primary-light-coral);
  font-size: 18px;
  line-height: 28px;
}

.features__item__desc {
  padding-top: 15px;
  width: 445px;
  color: var(--color-primary-white);
  line-height: 25px;
  font-size: 15px;
}

.features__item:nth-child(2)::before {
  width: 72px;
  height: 72px;
  margin-right: 23px;
  display: block;
  background-image: url('../img/f-item-2.svg');
  content: "";
}

.features__item:last-child::before {
  width: 72px;
  height: 72px;
  margin-right: 23px;
  display: block;
  background-image: url('../img/f-item-3.svg');
  content: "";
}

.features-2 {
  background-color: #004047;
}

.features-2 .container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.features-2__title {
  font-size: 48px;
  text-align: center;
  line-height: 48px;
  color: #fff;
}

.features-2__title-span {
  margin: 0 auto;
  display: flex;
}

.features-2__title--blue {
  font-size: 48px;
  padding-left: 10px;
  text-align: center;
  line-height: 48px;
  color: #79C8C7;
}

.features-2__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}

.features-2__item {
  width: 350px;
  
}

.features-2__item--desc::before {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 67px;
  height: 56px;
  background-image: url('../img/string.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.features-2__item--desc {
  position: relative;
  z-index: 1;
  padding-top: 36px;
  padding-bottom: 24px;
  width: 350px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  color: white;
}

.features-2__item--subtitle {
  color: #79C8C7;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2px;
}

.features-2__item__subtitle--desc {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 94px;
}

.features-2__item__subtitle--desc::after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 62px;
  height: 62px;
  background-image: url('../img/f2-item-img-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.features-2__item__subtitle--desc-2::after {
  background-image: url('../img/f2-item-img-2.png');
}

.features-2__item__subtitle--desc-3::after {
  background-image: url('../img/f2-item-img-3.png');
}

.footer-strartup {
  padding-top: 76px;
  background-color: #F67E7E;
  padding-bottom: 76px;
  background-image: url('../img/strartup--footer-img.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%;
} 

.startup--title {
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}


.strartup__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.startup--btn {
  border: 2px solid #012F34;
  background-color: inherit;
  color: #012F34;
}

.startup--btn:hover {
  background-color: #012F34;
  color: white;
}

.footer-nav {
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-nav__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav__list-1 {
  display: flex;
  justify-content: space-between;
  width: 735px;
}

.footer-nav__item-1 {
  width: 165px;
}

.footer-nav__item__logo {
  margin-bottom: 30px;
}

.footer-nav__item__link-wrapper {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.footer-nav__item-2 {
  width: 445px;
}

.footer-nav__item__address-1 {
  font-weight: 600;
  font-size: 15px;
  color: rgb(194, 194, 194);
  line-height: 25px;
}

.footer-nav__medias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104px;
  margin-left: auto;
  margin-bottom: 50px;
}

.footer-nav__medias--link {
  color: white;
}

.footer-nav__medias--link:hover {
  color: var(--color-primary-light-coral);  
}

.footer-nav__medias-desc {
  font-weight: 600;
  font-size: 15px;
  color: rgb(194, 194, 194);
  line-height: 25px;
}